// Variables
$color-primary: orangered;
$color-secondary: green;
$color-text: #6d7c90;
$white: #fff;
$grey: #eee;
$light-grey: #f3f4f6; 
$dark: #333;
$brown: rgba(104, 50, 5, 1);
$purple: rgba(80, 3, 71, 1);
$box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);